/*--------------------------------------------------------------
# Image-home
--------------------------------------------------------------*/

 .image-home .image-container{
  background: #148781;
  padding: 10px 0;
  width: auto;
  
 }

.image-home .image-container img{
  box-shadow: 10px 8px 12px 0px rgba(0, 0, 0, 0.1);
 }